body{
 margin: 0;
 padding: 0;
 height: 100vh;
 font-family: 'Roboto', sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 /* background-color: #6ed8ce; */
 background: linear-gradient(to top, #eaecc6, #2bc0e4);
}
.container{
  height: 80%;
  width: 90%;
  background-color:rgba(218, 242, 240, 0.7);
  color: #154d59;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.addItems{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.newItem{
  font-size: 15px;
  width: 90%;
  background-color: rgba(25, 170, 160, 0.7);
  color:#fff;
  text-indent: 15px;
  border: 0px;
  box-shadow: none;
  border-radius:5px;
  outline:none;
  appearance:none;
}
::placeholder{
  color: white;
  opacity: 0.6;
}
.submit{
  font-size: 18px;
  color:teal;
  outline: none;
  border-radius: 50%;
  border: 1px solid teal;
  height: 40px;
  width:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.submit:hover{
  box-shadow: 0 0 10px teal;
}
.submit:active{
  transform: scale(1.1);
}
.checklistContainer{
  font-size: 1rem;
  color: teal;
  margin-top: 1rem;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
ul{
  width: 100%;
  float:left;
  padding:0;
  box-sizing: border-box;
}
.doneList{
  color:#aaa;
  opacity: 0.7;
}

li{
  box-sizing: border-box;
  min-height: 30px;
  text-indent: 15px;
  font-size: 15px;
  line-height: 30px;
  padding: 5px 0px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
  list-style: none;
  box-shadow: 0 1px 2px #aac4c2;
}
.buttons{
  min-height:30px;
  width: 30px;
  border: none;
  color:teal;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.3;
}
#x{
  float:right;
}
#x:hover{
  opacity:1;
  font-size:20px;
}
.circle{
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.circle:active{
  transform: scale(1.1);
}
.green{
  background-color: teal;
}
.red{
  background-color: #f74756;
}
#tick{
  float:left;
}
#tick:hover{
  opacity:1;
}
#tick:active{
  opacity:1;
}
.on{
  opacity: 1;
}
.line{
  height: 2px;
  width: 50%;
  background-color: #aaa;
  opacity: 0.7;
  margin: 0 auto;
}

@media (min-width:600px){
  .container{
    height: 80%;
    width: 500px;
  }
}
@media (min-width:1000px){
  .container{
    height: 80%;
    width: 40%;
  }
}
